:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#EF4D2D;
    boder
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto ', serif;
    box-sizing: border-box;
}
.grid{
    width:1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width:100%;
}
.gird__row{
    display:flex;
    flex-wrap: wrap;
}
/* animation */
@keyframes fadeIn{
0%{
opacity:0;
}
100%{
opacity:1;
}
}
.modal{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
}
.modal__overlay{
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.modal__body{
    /* o cần fix kích thước */
    /* width:300px;
    height:300px; */
    background-color:var(--white-color);
    border-radius: 2px;
    margin: auto;
    z-index: 1;
}