:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.grid{
    width:1200px;
    max-width: 100%;
}
