
.class{
    width:100px;
    height:100px;
}
.header{
   height:120px;
   background-image:linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
  display:flex;
    justify-content: space-between;
}
.header__navbar--list{
    list-style: none;
    padding-left: 0;
}
.header__navbar--item{
    display:inline-block;
    margin:0 8px;
    position:relative;
}
.header__navbar--item--link ,.header__navbar--item{
    text-decoration: none;
    font-size: 1.5rem;
    color:var(--white-color);
    font-weight: 300;
    text-decoration: none;
} 
.header__navbar--item--link--bold{
font-weight: 400;
}
.header__navbar--item--sparate::after{
content:"";
position:absolute;
display:block;
width:1px;
height:12px;
background-color: #FB9086;
right:-8px;
top:50%;
transform:translateY(-50%);
}
.header__navbar--icon{
    font-size: 1.8rem;
    color:var(--white-color);
    margin:0 4px;
    
                        ;
}
.header__navbar--item--link ,.header__navbar--item,.header__navbar--icon-link{
    display:inline-flex;
    align-items: center;
    text-decoration: none;
}
.header__navbar--item--title{
    cursor:text;
    color:var(--white-color);
}
/* header qr */
.header__qr{
background-color:var(--white-color);
width:186px;
position:absolute;
left:0;
top:150%;
padding:8px;
border-radius: 2px;
display:none;
animation:fadeIn ease-in .3s;
}
.header__qr::before{
    content:"";
    width:100%;
    height:18%;
    left:0;
    top:-8%;
    position:absolute;
}
.header__qr--img{
width:100%;
}
.header__qr--app{
display:flex;
justify-content: space-between;
}
.header__qr--dowload--img{
height:14px;
}  
.header__qr-link:nth-child(1){
    margin-left: 10px;;
}
.header__qr-link:nth-child(2){
    margin-right: 13px;;
}
.header__navbar--item-has:hover .header__qr{
    display:block;
}

/* header notifycation */
.header__notify{
    width:400px;
    position:absolute;
    background-color: var(--white-color);
    top:118%;
    right:0;
    border:1px solid #d3d3d3;
    /* display:none; */
    animation:fadeIn ease-in .3s;
    cursor:text;
    animation:Grow ease-
}
@keyframes Grow{
    0%{
transform:scale(0);
    }
    100%{
transform:scale(1);
    }
}
/* .header__navbar--item--link :hover .header__notify{
    display:block;
} */

.header__notify--header{
    height:40px;
    background-color:var(--white-color);
    /* text-align: center; */ 
}
.header__notify--header h3{
    /* mặc định h3 có margin */
    margin:0 0 0 12px;
    color:#666;
    font-weight: 400;
    font-style: 1.6rem;
    line-height:40px; ;
}
.header__notify--list{
padding-left: 0;
list-style: none;
}
.header__notify--item:hover{
    background-color:#f1f1f1;
}
.header__notify--item--viewed{
    background-color:rgba(238,75,43,0.1);
}
.header__notify--link{
    display:flex;
    padding:12px;
    text-decoration: none;
    /* width:100%; */
}
.header__notify--img{
object-fit: contain;
width:48px;

}
.header__notify--infor{
margin-left: 12px;
}
.header__notify-name{
font-size: 1.4rem;
color:var( --black-color);
font-weight: 400;
line-height:1.8 rem;
}
.header__notify--description{
display:block;
font-size: 1.2rem;
line-height: 1.6rem;
color:#756f6e;
}
.header__notify-footer{
   display:flex;
}
.header__notify-footer--btn{
    text-decoration: none;
    color:var(--text-color);
    padding:8px 32px;
    margin: 0 auto;
    font-size: 1.4 rem;
    font-weight: 400;
}
